*{
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/registration.jpg') no-repeat center !important;
    background-size: cover !important;
    height: auto;
}
.bg-opacity {
    background: #333;
    position: absolute;
    top: 0;
    opacity: 0.3;
    height: auto;
    width: 100%;
}

form {
    padding: 5% 5%;
    margin-top:80px;
    margin-bottom: 80px;
    border-radius: 10px;
    opacity: 0.9;
}

.datepicker {
    margin-top: -6px !important;
}
